In [78]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import tensorflow as tf

In [113]:
df= pd.read_pickle("train_test_cat.pkl.bz2",compression="bz2")

In [114]:
df.head().T

,0,1,2,3,4
emp_title_cat,9,9,9,9,9
home_ownership_cat,4,4,4,4,4
loan_status_cat,2,2,2,2,2
job_cat,3,3,3,3,3
purpose_cat,1,1,1,1,1
application_type_cat,0,0,0,0,0
marital_cat,1,1,1,1,1
education_cat,0,0,0,0,0
mf_preference_cat,0,0,0,0,0
scheme_type_cat,38,34,38,36,34
scheme_cat_cat,0,4,0,4,4
scheme_sub_cat_cat,30,36,28,36,36
default_cat,0,0,0,0,0
housing_cat,0,0,0,0,0
loan_cat,0,0,0,0,0
member_id,1296599,1296599,1296599,1296599,1296599
annual_inc,24000,24000,24000,24000,24000
age,56,56,56,56,56
risk_profile,Moderately High,Moderately High,Moderately High,Moderately High,Moderately High
risk_score_x,2,2,2,2,2
mf_id,101186,126708,119819,141288,141929
amount,16153,7764,11489,7467,19289
tenure_yr,13,12,18,8,5
scheme_name,Tata Income Fund- Regular Plan - Periodic Pay...,HDFC FMP 370D January 2014 (1)- Regular Optio...,SBI Magnum Low Duration Fund - Direct Plan - ...,UTI FTIF Series XXVI-XII (1096 Days)- Direct ...,Sundaram Value Fund Series X Regular Plan - G...
Risk,Moderately High,Moderately High,Moderately High,Moderately High,Moderately High
popularity,38,31,27,29,22
rank,264,3043,6606,5013,11735
risk_score_y,4,4,4,4,4
emp_length_val,10,10,10,10,10
term_val,36,36,36,36,36
payment_hist,36.5086,36.5086,36.5086,36.5086,36.5086
credit_used,10,10,10,10,10

In [115]:
df.drop(columns=["mf_id","scheme_cat_cat","risk_profile","scheme_sub_cat_cat","Risk"],axis=1,inplace=True)

In [116]:
df = df.reset_index(drop=True)

In [117]:
pd.set_option('use_inf_as_na', True)

In [118]:
mean=df["emp_length_val"].mean()

In [119]:
df["emp_length_val"].fillna(mean,inplace=True)

In [120]:
df.head().T

,0,1,2,3,4
emp_title_cat,9,9,9,9,9
home_ownership_cat,4,4,4,4,4
loan_status_cat,2,2,2,2,2
job_cat,3,3,3,3,3
purpose_cat,1,1,1,1,1
application_type_cat,0,0,0,0,0
marital_cat,1,1,1,1,1
education_cat,0,0,0,0,0
mf_preference_cat,0,0,0,0,0
scheme_type_cat,38,34,38,36,34
default_cat,0,0,0,0,0
housing_cat,0,0,0,0,0
loan_cat,0,0,0,0,0
member_id,1296599,1296599,1296599,1296599,1296599
annual_inc,24000,24000,24000,24000,24000
age,56,56,56,56,56
risk_score_x,2,2,2,2,2
amount,16153,7764,11489,7467,19289
tenure_yr,13,12,18,8,5
scheme_name,Tata Income Fund- Regular Plan - Periodic Pay...,HDFC FMP 370D January 2014 (1)- Regular Optio...,SBI Magnum Low Duration Fund - Direct Plan - ...,UTI FTIF Series XXVI-XII (1096 Days)- Direct ...,Sundaram Value Fund Series X Regular Plan - G...
popularity,38,31,27,29,22
rank,264,3043,6606,5013,11735
risk_score_y,4,4,4,4,4
emp_length_val,10,10,10,10,10
term_val,36,36,36,36,36
payment_hist,36.5086,36.5086,36.5086,36.5086,36.5086
credit_used,10,10,10,10,10

In [121]:
scheme_names=df["scheme_name"].nunique()
scheme_names

13882

In [122]:
df=df.sample(frac=0.3)

In [123]:
X=df.drop(columns="scheme_name",axis=1)
y=df["scheme_name"]

In [124]:
y = df["scheme_name"].astype("category").cat.codes

In [125]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [126]:
# Test ,Train split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7,test_size=0.3,random_state=100)

In [127]:
input_shape=X_train.shape

output_shape=y_train.shape

In [128]:
input_shape

(79180, 26)

In [129]:
output_shape

(79180,)

In [130]:
y_train_enc=one_hot(y_train)
y_train_enc

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [131]:
y_train_enc.shape

(13882, 79180)

In [132]:
y_train =y_train_enc.T

In [133]:
X_train.shape

(79180, 26)

In [134]:
y_train.shape

(79180, 13882)

In [135]:
output=y_train.shape[1]

In [136]:
def one_hot(j):
    # input is the target dataset of shape (1, m) where m is the number of data points
    # returns a 2 dimensional array of shape (10, m) where each target value is converted to a one hot encoding
    # Look at the next block of code for a better understanding of one hot encoding
    n = j.shape[0]
    new_array = np.zeros((scheme_names, n))
    index = 0
    for res in j:
        new_array[res][index] = 1.0
        index = index + 1
    return new_array

In [137]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, BatchNormalization, Activation ,Flatten
from keras import regularizers

In [178]:
# create model
nn_model = Sequential()
nn_model.add(Dense(256, input_dim=26, activation='relu'))
#nn_model.add(Dropout(rate=0.3))
nn_model.add(BatchNormalization())
nn_model.add(Dense(128, activation = 'relu'))
#nn_model.add(Dropout(rate=0.3))
nn_model.add(BatchNormalization())
nn_model.add(Dense(64, activation = 'relu'))
#nn_model.add(Dropout(rate=0.3))
nn_model.add(BatchNormalization())
nn_model.add(Dense(32, activation = 'relu'))
#nn_model.add(Dropout(rate=0.3))
nn_model.add(BatchNormalization())
nn_model.add(Dense(16, activation = 'relu'))
#nn_model.add(Dropout(rate=0.3))
nn_model.add(BatchNormalization())
nn_model.add(Dense(8, activation = 'relu'))
nn_model.add(Dense(output, activation='softmax'))

In [179]:
nn_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_65 (Dense)             (None, 256)               6912
_________________________________________________________________
batch_normalization_20 (Batc (None, 256)               1024
_________________________________________________________________
dense_66 (Dense)             (None, 128)               32896
_________________________________________________________________
batch_normalization_21 (Batc (None, 128)               512
_________________________________________________________________
dense_67 (Dense)             (None, 64)                8256
_________________________________________________________________
batch_normalization_22 (Batc (None, 64)                256
_________________________________________________________________
dense_68 (Dense)             (None, 32)                2080
_________________________________________________________________
batch_normalization_23 (Batc (None, 32)                128
_________________________________________________________________
dense_69 (Dense)             (None, 16)                528
_________________________________________________________________
batch_normalization_24 (Batc (None, 16)                64
_________________________________________________________________
dense_70 (Dense)             (None, 8)                 136
_________________________________________________________________
dense_71 (Dense)             (None, 13882)             124938
=================================================================
Total params: 177,730
Trainable params: 176,738
Non-trainable params: 992
_________________________________________________________________

In [180]:
nn_model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [181]:
nn_model.fit(X_train, y_train, epochs=20, batch_size=10)

Epoch 1/20
52980/79180 [===================>..........] - ETA: 1:07 - loss: 9.7037 - acc: 1.3213e-04

KeyboardInterrupt: