In [3]:
## Requirements
!pip install -q Mftool

In [2]:
from mftool import Mftool
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../mf_data_risk_popularity_rand.csv.zip",compression="zip")

In [4]:
df.head()

,scheme_code,scheme_name,Risk,nav,scheme_category,scheme_type,scheme_cat,scheme_sub_cat,popularity,rank
0,100033,Aditya Birla Sun Life Equity Advantage Fund -...,Moderate,116.6100,Equity Scheme - Large & Mid Cap Fund,Open Ended Schemes,Equity Scheme,Large & Mid Cap Fund,27,6392.0
1,100034,Aditya Birla Sun Life Equity Advantage Fund -...,Moderate,83.6600,Equity Scheme - Large & Mid Cap Fund,Open Ended Schemes,Equity Scheme,Large & Mid Cap Fund,22,11298.0
2,100037,Aditya Birla Sun Life Income Fund - Regular -...,Low to Moderate,10.1147,Debt Scheme - Medium to Long Duration Fund,Open Ended Schemes,Debt Scheme,Medium to Long Duration Fund,28,5383.0
3,100038,Aditya Birla Sun Life Income Fund - Growth - ...,Moderately High,28.9093,Debt Scheme - Medium to Long Duration Fund,Open Ended Schemes,Debt Scheme,Medium to Long Duration Fund,25,8528.0
4,100041,Aditya Birla Sun Life Liquid Fund -Institutio...,Moderately High,10.8023,Debt Scheme - Liquid Fund,Open Ended Schemes,Debt Scheme,Liquid Fund,26,7459.0

In [5]:
obj = Mftool()

In [101]:
dict_eq_fund = {"fund_type":[],"fund_sub_type":[],"scheme_name":[]}

In [103]:
equity_funds=obj.get_open_ended_equity_scheme_performance(as_json=False)

for eq in equity_funds.keys():
    for mf in equity_funds[eq]:
        dict_eq_fund["fund_type"].append("Equity")
        dict_eq_fund["fund_sub_type"].append(eq)
        dict_eq_fund["scheme_name"].append(mf["scheme_name"])

In [104]:
equity_funds_df = pd.DataFrame(dict_eq_fund)

In [105]:
equity_funds_df.head()

  fund_type fund_sub_type                                  scheme_name
0    Equity     Large Cap  Aditya Birla Sun Life Frontline Equity Fund
1    Equity     Large Cap                           Axis Bluechip Fund
2    Equity     Large Cap                             Baroda Large Cap
3    Equity     Large Cap                   BNP Paribas Large Cap Fund
4    Equity     Large Cap           Canara Robeco Bluechip Equity Fund

In [106]:
equity_funds_df.to_csv("equity_funds.csv.zip",compression="zip",index=False)

In [113]:
dict_eq_fund = {"fund_type":[],"fund_sub_type":[],"scheme_name":[]}
debt_scheme= obj.get_open_ended_debt_scheme_performance(as_json=False)

for eq in debt_scheme.keys():
    for mf in debt_scheme[eq]:
        dict_eq_fund["fund_type"].append("Debt")
        dict_eq_fund["fund_sub_type"].append(eq)
        dict_eq_fund["scheme_name"].append(mf["scheme_name"])

In [114]:
debt_funds_df = pd.DataFrame(dict_eq_fund)

In [115]:
debt_funds_df.to_csv("debt_funds.csv.zip",compression="zip",index=False)

In [180]:
dict_eq_fund = {"fund_type":[],"fund_sub_type":[],"scheme_name":[]}
hybrid = obj.get_open_ended_hybrid_scheme_performance(as_json=False)

In [117]:
mf_list=[]

In [33]:
mf_list.append(hybrid["Aggressive Hybrid"][0]["scheme_name"])

In [36]:
import numpy as np

In [ ]:
pd.DataFrame(mf)

In [181]:
hybrid["Balanced Hybrid"]

['The underlying data is unavailable for Today']

In [182]:
hybrid.keys()

dict_keys(['Aggressive Hybrid', 'Balanced Hybrid', 'Conservative Hybrid', 'Equity Savings', 'Arbitrage', 'Multi Asset Allocation'])

In [73]:
pd.DataFrame(hybrid["Aggressive Hybrid"])

,scheme_name,benchmark,latest NAV- Regular,latest NAV- Direct,1-Year Return(%)- Regular,1-Year Return(%)- Direct,3-Year Return(%)- Regular,3-Year Return(%)- Direct,5-Year Return(%)- Regular,5-Year Return(%)- Direct
0,Aditya Birla Sun Life Equity Hybrid '95 Fund,CRISIL Hybrid 35+65 Aggressive Index,"1,099.1800","1,195.2800",48.12,49.27,16.29,17.20,11.02,12.11
1,Axis Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,16.0300,16.8000,43.38,45.33,19.84,21.59,NA,NA
2,Baroda Hybrid Equity Fund,CRISIL Hybrid 35+65 Aggressive Index,84.6500,92.6800,48.72,49.70,17.86,18.76,11.98,13.18
3,BNP Paribas Substantial Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,18.8128,20.2112,42.99,45.45,21.38,23.32,NA,NA
4,BOI AXA Mid & Small Cap Equity & Debt Fund,"NIFTY Mid Small Cap 400 TRI(70.00), CRISIL Sho...",23.5600,24.6500,69.01,70.47,25.68,26.81,16.95,17.95
5,Canara Robeco Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,249.3600,269.9400,39.66,41.33,20.50,21.92,14.46,15.87
6,DSP Equity & Bond Fund,CRISIL Hybrid 35+65 Aggressive Index,241.0820,260.6390,46.71,48.21,21.49,22.71,13.45,14.66
7,Edelweiss Aggressive Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,38.2200,41.1400,45.82,48.52,17.50,19.36,12.44,13.80
8,Franklin India Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,179.2239,196.8878,48.18,49.68,17.71,18.94,11.96,13.31
9,HDFC Hybrid Equity Fund,NIFTY 50 Hybrid Composite Debt 65:35 Index,79.4460,84.0530,47.92,48.84,18.04,18.82,12.89,13.87
10,HSBC Equity Hybrid Fund,"S&P BSE 200 TRI(70.00), CRISIL Composite Bond ...",16.1862,16.8841,39.02,41.10,NA,NA,NA,NA
11,ICICI Prudential Equity & Debt Fund,CRISIL Hybrid 35+65 Aggressive Index,216.6700,235.2300,71.48,72.32,20.83,21.53,15.26,16.29
12,IDBI Hybrid Equity Fund,CRISIL Hybrid 35+65 Aggressive Index,16.3919,17.5878,37.29,38.43,14.84,16.07,NA,NA
13,IDFC Hybrid Equity Fund,"S&P BSE 200 TRI(65.00), Nifty AAA Short Durati...",17.4500,18.7700,48.26,50.04,17.98,19.55,NA,NA
14,Indiabulls Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,14.8831,15.7569,37.26,40.00,NA,NA,NA,NA
15,Invesco India Equity & Bond Fund,CRISIL Hybrid 35+65 Aggressive Index,14.7054,15.4604,33.45,35.68,15.50,17.27,NA,NA
16,JM Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,70.8458,76.9597,51.30,52.48,16.58,17.74,12.44,13.28
17,Kotak Equity Hybrid Fund,NIFTY 50 Hybrid Composite Debt 65:35 Index,23.3580,27.1750,48.93,50.93,21.59,23.16,13.25,14.78
18,LIC MF Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,139.8239,152.3227,32.03,33.63,15.38,16.63,9.40,10.73
19,LIC MF ULIS Fund,CRISIL Hybrid 35+65 Aggressive Index,27.5826,29.5652,48.04,49.27,18.22,19.25,12.70,13.82
20,L&T Hybrid Equity Fund,CRISIL Hybrid 35+65 Aggressive Index,37.8160,41.3270,37.98,39.40,15.86,17.06,11.54,12.71
21,Mahindra Manulife Hybrid Equity Nivesh Yojana,CRISIL Hybrid 25+75 Aggressive Index,16.9683,17.6863,51.75,54.64,NA,NA,NA,NA
22,Mirae Asset Hybrid Equity Fund,CRISIL Hybrid 35+65 Aggressive Index,22.3390,24.7590,42.13,44.21,19.29,21.15,14.61,16.50
23,Motilal Oswal Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,15.6160,16.4047,32.14,34.26,18.24,20.16,NA,NA
24,Navi Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,14.3619,15.2511,35.23,37.77,15.22,17.35,NA,NA
25,Nippon India Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,66.3522,72.5777,48.93,50.10,8.81,9.68,7.91,9.07
26,PGIM India Hybrid Equity Fund,CRISIL Hybrid 35+65 Aggressive Index,100.6600,113.1200,42.82,45.25,16.33,18.18,10.91,12.61
27,Principal Hybrid Equity Fund,CRISIL Hybrid 35+65 Aggressive Index,114.0000,124.9900,46.02,47.83,16.57,18.01,13.87,15.28
28,Quant Absolute Fund,CRISIL Hybrid 35+65 Aggressive Index,270.9981,280.2669,67.71,67.84,30.14,31.19,18.84,19.55
29,SBI Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,206.5369,222.3496,45.78,46.81,19.88,20.69,14.09,15.04
30,Shriram Hybrid Equity Fund,"NIFTY 50 TRI(70.00), CRISIL Composite Bond Ind...",23.5311,25.3568,34.47,36.51,14.63,16.38,10.60,11.90
31,Sundaram Equity Hybrid Fund,CRISIL Hybrid 35+65 Aggressive Index,136.2356,147.0839,45.31,47.12,17.75,19.04,13.42,14.77
32,Tata Hybrid Equity Fund,CRISIL Hybrid 25+75 Aggressive Index,306.8174,332.3077,44.06,45.48,16.60,17.88,10.23,11.56
33,UTI Hybrid Equity Fund,CRISIL Hybrid 25+75 Aggressive Index,251.2602,263.9221,52.28,53.28,16.77,17.58,11.77,12.56

In [118]:
mf_list=[]
dict_eq_fund = {"fund_type":[],"fund_sub_type":[],"scheme_name":[]}
for eq in hybrid.keys():
    try:
        for mf in pd.DataFrame(hybrid[eq])["scheme_name"].to_list():
            
            dict_eq_fund["scheme_name"].append(mf)
            dict_eq_fund["fund_sub_type"].append(eq)
            dict_eq_fund["fund_type"].append("Hybrid")
    except Exception as ex:
        print(ex,eq,hybrid[eq])

'scheme_name' Balanced Hybrid ['The underlying data is unavailable for Today']

In [119]:
hybrid_df=pd.DataFrame(dict_eq_fund)
hybrid_df.to_csv("hybrid_funds.csv.zip",compression="zip",index=False)

In [18]:
soln = obj.get_open_ended_solution_scheme_performance(as_json=False)

In [120]:
dict_eq_fund = {"fund_type":[],"fund_sub_type":[],"scheme_name":[]}

for eq in soln.keys():
    for mf in soln[eq]:
        dict_eq_fund["fund_sub_type"].append(eq)
        dict_eq_fund["fund_type"].append("Solution")
        dict_eq_fund["scheme_name"].append(mf["scheme_name"])

In [121]:
soln_funds_df = pd.DataFrame(dict_eq_fund)

In [122]:
soln_funds_df.head()

  fund_type fund_sub_type                                 scheme_name
0  Solution    Children's   Aditya Birla Sun Life Bal Bhavishya Yojna
1  Solution    Children's                   Axis Children's Gift Fund
2  Solution    Children's                   HDFC Children's Gift Fund
3  Solution    Children's  ICICI Prudential Child Care Fund-Gift Plan
4  Solution    Children's                 LIC MF Children's Gift Fund

In [123]:
soln_funds_df.to_csv("soln_funds.csv.zip",compression="zip",index=False)

In [23]:
other = obj.get_open_ended_other_scheme_performance(as_json=False)

In [126]:
dict_eq_fund = {"fund_type":[],"fund_sub_type":[],"scheme_name":[]}

for eq in other.keys():
    for mf in other[eq]:
        dict_eq_fund["fund_sub_type"].append(eq)
        dict_eq_fund["fund_type"].append("Other")
        dict_eq_fund["scheme_name"].append(mf["scheme_name"])

In [127]:
other_funds_df = pd.DataFrame(dict_eq_fund)

In [128]:
other_funds_df.head()

  fund_type     fund_sub_type                              scheme_name
0     Other  Index Funds/ETFs        Aditya Birla Sun Life Banking ETF
1     Other  Index Funds/ETFs           Aditya Birla Sun Life Gold ETF
2     Other  Index Funds/ETFs         Aditya Birla Sun Life Index Fund
3     Other  Index Funds/ETFs          Aditya Birla Sun Life Nifty ETF
4     Other  Index Funds/ETFs  Aditya Birla Sun Life Nifty Next 50 ETF

In [129]:
other_funds_df.to_csv("other_funds.csv.zip",compression="zip",index=False)

In [130]:
import os
import glob
import pandas as pd

In [131]:
extension = 'zip'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [132]:
all_filenames

['debt_funds.csv.zip',
 'equity_funds.csv.zip',
 'combined_mf_data.csv.zip',
 'other_funds.csv.zip',
 'soln_funds.csv.zip',
 'hybrid_funds.csv.zip']

In [133]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f,compression="zip") for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_mf_data.csv.zip", index=False, compression="zip")

## mf type

In [134]:
mf= pd.read_csv("combined_mf_data.csv.zip")

In [135]:
mf.shape

(1770, 3)

In [136]:
df.shape

(13882, 10)

In [141]:
mf["type"]=mf["fund_type"]+" - "+mf["fund_sub_type"]

In [143]:
mf["type"].nunique()

36

In [176]:
mf_types=list(set(mf["type"]))

In [177]:
df_mf=list(set(df["scheme_category"]))

In [157]:
df_mf.intersection(mf_types)

{'Debt Scheme - Dynamic Bond',
 'Equity Scheme - ELSS',
 'Hybrid Scheme - Equity Savings',
 'Hybrid Scheme - Multi Asset Allocation',
 nan}

In [161]:
from difflib import SequenceMatcher

In [162]:
matches = SequenceMatcher(None, mf_types, df_mf).get_matching_blocks()

In [174]:
mf_types=mf_types[1:].sort()

In [178]:
mf_types

[nan,
 'Hybrid Scheme - Aggressive Hybrid',
 'Equity Scheme - Mid Cap',
 'Equity Scheme - Focused',
 'Solution Scheme - Retirement',
 'Equity Scheme - Multi Cap',
 'Debt Scheme - Short Duration',
 'Debt Scheme - Dynamic Bond',
 'Debt Scheme - Banking and PSU',
 'Equity Scheme - Dividend Yield',
 'Equity Scheme - Large & Mid Cap',
 'Hybrid Scheme - Multi Asset Allocation',
 'Equity Scheme - ELSS',
 'Debt Scheme - Low Duration',
 'Debt Scheme - Credit Risk',
 'Debt Scheme - Liquid',
 'Equity Scheme - Contra',
 'Other Scheme - FoFs(Oversease/Domestic)',
 'Debt Scheme - Medium to Long Duration',
 'Equity Scheme - Small Cap',
 'Hybrid Scheme - Equity Savings',
 'Debt Scheme - Medium Duration',
 'Debt Scheme - Long Duration',
 'Debt Scheme - Ultra Short Duration',
 'Debt Scheme - FMP',
 'Debt Scheme - Corporate Bond',
 'Debt Scheme - Money Market',
 'Debt Scheme - Gilt',
 'Equity Scheme - Value',
 'Debt Scheme - Floater',
 'Hybrid Scheme - Conservative Hybrid',
 'Equity Scheme - Large Cap',
 "Solution Scheme - Children's",
 'Hybrid Scheme - Arbitrage',
 'Debt Scheme - Overnight',
 'Other Scheme - Index Funds/ETFs',
 'Debt Scheme - Gilt with 10 year constant duration']

In [179]:
df_mf

[nan,
 'Debt Scheme - Liquid Fund',
 'Debt Scheme - Medium Duration Fund',
 'Equity Scheme - Value Fund',
 'Gilt',
 'Debt Scheme - Medium to Long Duration Fund',
 'Solution Oriented Scheme - Retirement Fund',
 'Equity Scheme - Mid Cap Fund',
 'Hybrid Scheme - Arbitrage Fund',
 '1099 Days',
 'Equity Scheme - Multi Cap Fund',
 'Equity Scheme - Large Cap Fund',
 'Formerly Super Institutional Plan',
 '5 Year Plan',
 'DIRECT',
 'Annual Dividend',
 'Equity Scheme - Large & Mid Cap Fund',
 'Debt Scheme - Dynamic Bond',
 'Debt Scheme - Gilt Fund with 10 year constant duration',
 'Debt Scheme - Credit Risk Fund',
 'Equity Scheme - Dividend Yield Fund',
 'Debt Scheme - Overnight Fund',
 'Debt Scheme - Gilt Fund',
 'Equity Scheme - Focussed Fund',
 'Hybrid Scheme - Multi Asset Allocation',
 'Other Scheme - FoF Overseas',
 'Equity Scheme - ELSS',
 'Hybrid Scheme - Aggressive Hybrid Fund',
 '1194 DAYS',
 'Compulsory Reinvestment',
 '54EB Growth',
 'Other Scheme - Index Funds',
 'Equity Scheme - Small Cap Fund',
 'Other Scheme - Gold ETF',
 'Hybrid Scheme - Equity Savings',
 '1100 Days',
 'FV Rs 32.161',
 'Debt Scheme - Short Duration Fund',
 'Debt Scheme - Floater Fund',
 'Merger of Capex & Energy Opportunities',
 'Equity Scheme - Focused Fund',
 'ELSS',
 'Half Yearly Dividend',
 '1098 Days',
 'Debt Scheme - Corporate Bond Fund',
 'Equity Scheme - Contra Fund',
 'Other Scheme - Other  ETFs',
 'Solution Oriented Scheme - Children’s Fund',
 'Debt Scheme - Ultra Short Duration Fund',
 'G',
 'Debt Scheme - Money Market Fund',
 'Debt Scheme - Low Duration Fund',
 'Debt Scheme - Long Duration Fund',
 'erstwhile Cash Option',
 'Equity Scheme - Sectoral/ Thematic',
 'Income',
 'Direct',
 'Equity Scheme - Flexi Cap Fund',
 'Hybrid Scheme - Balanced Hybrid Fund',
 'Growth',
 'Hybrid Scheme - Dynamic Asset Allocation or Balanced Advantage',
 'Debt Scheme - Banking and PSU Fund',
 'Hybrid Scheme - Conservative Hybrid Fund',
 '1',
 'IDF',
 'Other Scheme - FoF Domestic']

In [183]:
mf_map= pd.read_csv("mf_mapping.csv")

In [184]:
mf_map.head()

                        New Name                            Old Name
0  Debt Scheme - Banking and PSU  Debt Scheme - Banking and PSU Fund
1   Debt Scheme - Corporate Bond   Debt Scheme - Corporate Bond Fund
2      Debt Scheme - Credit Risk      Debt Scheme - Credit Risk Fund
3     Debt Scheme - Dynamic Bond          Debt Scheme - Dynamic Bond
4          Debt Scheme - Floater          Debt Scheme - Floater Fund

In [185]:
df.head()

,scheme_code,scheme_name,Risk,nav,scheme_category,scheme_type,scheme_cat,scheme_sub_cat,popularity,rank
0,100033,Aditya Birla Sun Life Equity Advantage Fund -...,Moderate,116.6100,Equity Scheme - Large & Mid Cap Fund,Open Ended Schemes,Equity Scheme,Large & Mid Cap Fund,27,6392.0
1,100034,Aditya Birla Sun Life Equity Advantage Fund -...,Moderate,83.6600,Equity Scheme - Large & Mid Cap Fund,Open Ended Schemes,Equity Scheme,Large & Mid Cap Fund,22,11298.0
2,100037,Aditya Birla Sun Life Income Fund - Regular -...,Low to Moderate,10.1147,Debt Scheme - Medium to Long Duration Fund,Open Ended Schemes,Debt Scheme,Medium to Long Duration Fund,28,5383.0
3,100038,Aditya Birla Sun Life Income Fund - Growth - ...,Moderately High,28.9093,Debt Scheme - Medium to Long Duration Fund,Open Ended Schemes,Debt Scheme,Medium to Long Duration Fund,25,8528.0
4,100041,Aditya Birla Sun Life Liquid Fund -Institutio...,Moderately High,10.8023,Debt Scheme - Liquid Fund,Open Ended Schemes,Debt Scheme,Liquid Fund,26,7459.0

In [204]:
mf_map["Old Name"].to_list()

['Debt Scheme - Banking and PSU Fund',
 'Debt Scheme - Corporate Bond Fund',
 'Debt Scheme - Credit Risk Fund',
 'Debt Scheme - Dynamic Bond',
 'Debt Scheme - Floater Fund',
 'Debt Scheme - Gilt Fund',
 'Debt Scheme - Gilt Fund with 10 year constant duration',
 'Debt Scheme - Liquid Fund',
 'Debt Scheme - Long Duration Fund',
 'Debt Scheme - Low Duration Fund',
 'Debt Scheme - Medium Duration Fund',
 'Debt Scheme - Medium to Long Duration Fund',
 'Debt Scheme - Money Market Fund',
 'Debt Scheme - Overnight Fund',
 'Debt Scheme - Short Duration Fund',
 'Debt Scheme - Ultra Short Duration Fund',
 'Equity Scheme - Contra Fund',
 'Equity Scheme - Dividend Yield Fund',
 'Equity Scheme - ELSS',
 'Equity Scheme - Focused Fund',
 'Equity Scheme - Focussed Fund',
 'Equity Scheme - Large & Mid Cap Fund',
 'Equity Scheme - Large Cap Fund',
 'Equity Scheme - Mid Cap Fund',
 'Equity Scheme - Multi Cap Fund',
 'Equity Scheme - Small Cap Fund',
 'Equity Scheme - Value Fund',
 'Hybrid Scheme - Aggressive Hybrid Fund',
 'Hybrid Scheme - Arbitrage Fund',
 'Hybrid Scheme - Conservative Hybrid Fund',
 'Hybrid Scheme - Equity Savings',
 'Hybrid Scheme - Multi Asset Allocation',
 'Other Scheme - FoF Domestic',
 'Other Scheme - FoF Overseas',
 'Other Scheme - Gold ETF',
 'Other Scheme - Index Funds',
 'Solution Oriented Scheme - Children’s Fund',
 'Solution Oriented Scheme - Retirement Fund',
 'Other Scheme - Other  ETFs',
 'ELSS',
 'Hybrid Scheme - Balanced Hybrid Fund',
 'Hybrid Scheme - Dynamic Asset Allocation or Balanced Advantage',
 'Gilt',
 nan]

In [207]:
def get_mf_name(mf):
    if mf in mf_map["Old Name"].to_list()[:-1]:
        return mf_map[mf_map["Old Name"]==mf]["New Name"].to_list()[0]
    else:
        return "Others - Others"

In [212]:
df["scheme_category"]=df["scheme_category"]+" Fund"

In [206]:
for idx,row in df.iterrows():
    print(mf_map[mf_map["Old Name"]==row["scheme_category"]]["New Name"].to_list()[0])
    break

Equity Scheme - Large & Mid Cap

In [213]:
df.head()

,scheme_code,scheme_name,Risk,nav,scheme_category,scheme_type,scheme_cat,scheme_sub_cat,popularity,rank
0,100033,Aditya Birla Sun Life Equity Advantage Fund -...,Moderate,116.6100,Equity Scheme - Large & Mid Cap Fund,Equity Scheme - Large & Mid Cap,Equity Scheme,Large & Mid Cap Fund,27,6392.0
1,100034,Aditya Birla Sun Life Equity Advantage Fund -...,Moderate,83.6600,Equity Scheme - Large & Mid Cap Fund,Equity Scheme - Large & Mid Cap,Equity Scheme,Large & Mid Cap Fund,22,11298.0
2,100037,Aditya Birla Sun Life Income Fund - Regular -...,Low to Moderate,10.1147,Debt Scheme - Medium to Long Duration Fund,Debt Scheme - Medium to Long Duration,Debt Scheme,Medium to Long Duration Fund,28,5383.0
3,100038,Aditya Birla Sun Life Income Fund - Growth - ...,Moderately High,28.9093,Debt Scheme - Medium to Long Duration Fund,Debt Scheme - Medium to Long Duration,Debt Scheme,Medium to Long Duration Fund,25,8528.0
4,100041,Aditya Birla Sun Life Liquid Fund -Institutio...,Moderately High,10.8023,Debt Scheme - Liquid Fund,Debt Scheme - Liquid,Debt Scheme,Liquid Fund,26,7459.0

In [215]:
df.drop(columns=["nav","scheme_type","scheme_cat","scheme_sub_cat"],axis=1,inplace=True)

In [216]:
df.head()

,scheme_code,scheme_name,Risk,scheme_category,popularity,rank
0,100033,Aditya Birla Sun Life Equity Advantage Fund -...,Moderate,Equity Scheme - Large & Mid Cap Fund,27,6392.0
1,100034,Aditya Birla Sun Life Equity Advantage Fund -...,Moderate,Equity Scheme - Large & Mid Cap Fund,22,11298.0
2,100037,Aditya Birla Sun Life Income Fund - Regular -...,Low to Moderate,Debt Scheme - Medium to Long Duration Fund,28,5383.0
3,100038,Aditya Birla Sun Life Income Fund - Growth - ...,Moderately High,Debt Scheme - Medium to Long Duration Fund,25,8528.0
4,100041,Aditya Birla Sun Life Liquid Fund -Institutio...,Moderately High,Debt Scheme - Liquid Fund,26,7459.0

In [228]:
df["mf_category"]=df["scheme_category"].apply(lambda x: x.split("-")[0].strip())
df["mf_sub_category"]=df["scheme_category"].apply(lambda x: x.split("-")[1].strip().replace(" Fund",""))

In [229]:
df.to_pickle("mf_data.pkl.bz2",compression="bz2")