In [3]:
## Requirements
!pip install -q Mftool

In [5]:
from mftool import Mftool
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("../mf_data_risk_popularity_rand.csv.zip",compression="zip")

In [7]:
df.head()

,scheme_code,scheme_name,Risk,nav,scheme_category,scheme_type,scheme_cat,scheme_sub_cat,popularity,rank
0,100033,Aditya Birla Sun Life Equity Advantage Fund -...,Moderate,116.6100,Equity Scheme - Large & Mid Cap Fund,Open Ended Schemes,Equity Scheme,Large & Mid Cap Fund,27,6392.0
1,100034,Aditya Birla Sun Life Equity Advantage Fund -...,Moderate,83.6600,Equity Scheme - Large & Mid Cap Fund,Open Ended Schemes,Equity Scheme,Large & Mid Cap Fund,22,11298.0
2,100037,Aditya Birla Sun Life Income Fund - Regular -...,Low to Moderate,10.1147,Debt Scheme - Medium to Long Duration Fund,Open Ended Schemes,Debt Scheme,Medium to Long Duration Fund,28,5383.0
3,100038,Aditya Birla Sun Life Income Fund - Growth - ...,Moderately High,28.9093,Debt Scheme - Medium to Long Duration Fund,Open Ended Schemes,Debt Scheme,Medium to Long Duration Fund,25,8528.0
4,100041,Aditya Birla Sun Life Liquid Fund -Institutio...,Moderately High,10.8023,Debt Scheme - Liquid Fund,Open Ended Schemes,Debt Scheme,Liquid Fund,26,7459.0

In [8]:
obj = Mftool()

In [42]:
dict_eq_fund = {"fund_type":[],"scheme_name":[]}

In [43]:
equity_funds=obj.get_open_ended_equity_scheme_performance(as_json=False)

for eq in equity_funds.keys():
    for mf in equity_funds[eq]:
        dict_eq_fund["fund_type"].append(eq)
        dict_eq_fund["scheme_name"].append(mf["scheme_name"])

In [44]:
equity_funds_df = pd.DataFrame(dict_eq_fund)

In [ ]:
equity_funds_df.head()

In [ ]:
equity_funds_df.to_csv("equity_funds.csv.zip",compression="zip",index=False)

In [47]:
dict_eq_fund = {"fund_type":[],"scheme_name":[]}
debt_scheme= obj.get_open_ended_debt_scheme_performance(as_json=False)

for eq in debt_scheme.keys():
    for mf in debt_scheme[eq]:
        dict_eq_fund["fund_type"].append(eq)
        dict_eq_fund["scheme_name"].append(mf["scheme_name"])

In [48]:
debt_funds_df = pd.DataFrame(dict_eq_fund)

In [68]:
dict_eq_fund = {"fund_type":[],"scheme_name":[]}
hybrid = obj.get_open_ended_hybrid_scheme_performance(as_json=False)

In [72]:
hybrid["Aggressive Hybrid"][0]["scheme_name"]

"Aditya Birla Sun Life Equity Hybrid '95 Fund"

In [ ]:
mf_list=[]
for eq in hybrid.keys():
    for idx,mf in enumerate(hybrid[eq]):
        try:
            dict_eq_fund["fund_type"].append(eq)
            print(mf.values())
        except Exception as ex:
            print(idx,ex)
            print(mf)

dict_eq_fund

In [54]:
soln = obj.get_open_ended_solution_scheme_performance(as_json=False)

In [81]:
dict_eq_fund = {"fund_type":[],"scheme_name":[]}

for eq in soln.keys():
    for mf in soln[eq]:
        dict_eq_fund["fund_type"].append(eq)
        dict_eq_fund["scheme_name"].append(mf["scheme_name"])

In [82]:
soln_funds_df = pd.DataFrame(dict_eq_fund)

In [86]:
soln_funds_df.head()

    fund_type                                 scheme_name
0  Children's   Aditya Birla Sun Life Bal Bhavishya Yojna
1  Children's                   Axis Children's Gift Fund
2  Children's                   HDFC Children's Gift Fund
3  Children's  ICICI Prudential Child Care Fund-Gift Plan
4  Children's                 LIC MF Children's Gift Fund

In [55]:
other = obj.get_open_ended_other_scheme_performance(as_json=False)

In [83]:
dict_eq_fund = {"fund_type":[],"scheme_name":[]}

for eq in other.keys():
    for mf in other[eq]:
        dict_eq_fund["fund_type"].append(eq)
        dict_eq_fund["scheme_name"].append(mf["scheme_name"])

In [84]:
other_funds_df = pd.DataFrame(dict_eq_fund)

In [85]:
other_funds_df.head()

          fund_type                              scheme_name
0  Index Funds/ETFs        Aditya Birla Sun Life Banking ETF
1  Index Funds/ETFs           Aditya Birla Sun Life Gold ETF
2  Index Funds/ETFs         Aditya Birla Sun Life Index Fund
3  Index Funds/ETFs          Aditya Birla Sun Life Nifty ETF
4  Index Funds/ETFs  Aditya Birla Sun Life Nifty Next 50 ETF